* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .body1 {
    /* width:106vw; */
    color: white;
    height: 100%;
    background: linear-gradient(
      135deg,
      hsl(248, 100%, 10%),
      hsl(246, 100%, 8%),
      hsl(252, 100%, 6%),
      hsl(0, 0%, 0%)
    );
    background-size: 200% 200%;
    animation: gradient-move 10s ease alternate infinite;
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  body::-webkit-scrollbar {
    width: 3px;
    background: linear-gradient(
      to bottom,
      hsl(0deg, 100%, 50%, 0.4) 0%,
      hsl(40deg, 100%, 50%) 20%,
      hsl(80deg, 100%, 50%) 30%,
      hsl(120deg, 100%, 50%) 40%,
      hsl(180deg, 100%, 50%) 50%,
      hsl(250deg, 100%, 50%) 80%,
      hsl(320deg, 100%, 50%, 0.4) 100%
    );
    border-radius: 4px;
  }

  body::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      hsl(0deg, 100%, 50%, 0) 0%,
      hsl(0deg, 100%, 100%, 0.9) 20%,
      hsl(0deg, 100%, 100%, 0.9) 80%,
      hsl(0deg, 100%, 50%, 0) 100%
    );
    /* border-radius: 100%; */
  }
  @media (max-width: 767px) {
    .body1 {
      width: 103%;
      overflow-x: hidden;
      color: white;
      height: 100%;
      background: linear-gradient(
      135deg,
      135deg,
      hsl(248, 100%, 10%),
      hsl(246, 100%, 8%),
      hsl(252, 100%, 6%),
      hsl(0, 0%, 0%)
    );
      background-size: 200% 200%;
      animation: gradient-move 4s ease alternate infinite;
    }
  
  }